/* Title */
.title{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 416px;
height: 166px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.titleHeading{
/* About the Course */

width: 416px;
height: 58px;

/* Heading/Heading 1 */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.titleContent{
/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unkno */

width: 367px;
height: 84px;

/* text/14/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}